.image1 {
  height: 140px;
  width: 400px;
}
.image2 {
  height: 20px;
  width: 20px;
}
.image3 {
  height: 20px;
  width: 20px;
}
.input-cont {
  display: flex;
  align-items: center;
  padding: 10px;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.full-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 10px 10px #bfbfbf;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
  padding-right: 20px;
}
.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  min-height: 100vh;
}
.input {
  width: 400px;
  border-width: 0px;
  height: 40px;
}
